<button (click)="newAlbumForm()">Nieuw Album</button>
<h1>Albums</h1>
<br>
Search album: (Use "%" as wildcard)
<br>    
<input type="text" [(ngModel)]='naam'>
<button (click)="findByNaam()">Search</button>
<br>
<br>
<table border="1">
    <tr >
        <th>Albumnaam</th>
        <th>Artiest</th>
        <th>Jaar</th>
    </tr>
    <tr *ngFor="let album of albums">
        <td><a [routerLink]="" (click)="updateAlbum(album)" >{{album.naam}}</a></td>
        <td>{{album.artiest.naam}}</td>
        <td>{{album.jaar}}</td>
        <td><button class="smallFont" (click)="deleteAlbum(album.id)">Delete</button></td>
    </tr>
</table>
<br>

