<table>
    <caption>
        <h3>Album details</h3>
    </caption>
    <tr>
        <td>Albumnaam: </td>
        <td><input type="text" [(ngModel)]="album.naam"></td>
    </tr>
    <tr>
        <td>Artiest: </td>
        <td>
            <select [(ngModel)]="selectedArtiest" (change)="select()" required >

                <option *ngFor="let artiest of artiesten" [ngValue]="artiest">{{artiest.naam}}</option>
            </select>


        </td>    </tr>
    <tr>
        <td>Jaar: </td>
        <td><input type="text" [(ngModel)]="album.jaar"></td>
    </tr>
    <tr><td><button (click)="updateAlbum()">Update</button></td></tr>
</table>

{{message}}